@import './reset.scss';
@import './animate.scss';

html {
  --bg: #fff;
  --bg2: #fafafa;
  --bg3: #fcfcfc;
  --bg4: #f8f8f8;
  --footer-bg: rgba(114, 186, 94, 0.15);
  --code: #dc3958;
  --code-text: #6c7757;
  --code-comment: #9aa880;
  --text-color: #555;
  --pale-text: #999;
  --info-box-text: #84613d;
  --gs0: #eee;
  --gs1: #ccc;
  --gs2: #aaa;
  --green1: #008f68;
  --green2: #6db65b;
  --green3: #4aae9b;
  --yellow1: #efbb35;
  --yellow2: #dfa612;
  --yellow3: #fae042;
  --subtle: rgba(0, 0, 0, 0.1);
  --very-subtle: rgba(0, 0, 0, 0.05);
  --top1: rgba(107, 183, 86, 0.95);
  --top2: rgba(0, 143, 104, 0.95);
  --subtle-green1: rgba(114, 186, 94, 0.55);
  --subtle-green2: rgba(114, 186, 94, 0.05);
  --subtle-yellow1: rgba(239, 187, 53, 0.6);
  --subtle-yellow2: rgba(236, 198, 48, 0.1);
  --subtle-yellow3: rgba(236, 198, 48, 0.3);
  --fb: #3b5998;
  --reddit: #fc471e;
  --h-news: #f60;
  --twitter: #00aced;
  --cat-head: rgba(114, 186, 94, 0.1);
  --front-text-color: #93a791;
  --info-box-bg: rgba(255, 213, 70, 0.1);
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body,
#app {
  height: 100%;
}
